# Android Studio / IntelliJ
.idea/
*.iml
captures/
externalNativeBuild/
.cxx/
local.properties
project.property

# Secrets and Sensitive data
secrets.properties
signing.properties
google-services.json
.env
mock-google-services.json

# Gradle
gradle-app.setting
!gradle-wrapper.jar
.navigation/

# Built variants
*.apk
*.aar
*.ap_
*.aab

# Keystore files
*.jks
*.keystore
*.pk8
*.p12

# Log files
*.log
*.hprof

# OS / IDE
.DS_Store
Thumbs.db
*.swp
*~

# Temp files
*.tmp
*.bak

# Build and Caches
.gradle/
**/build/
.kotlin/
